@import url('./bootstrap-icons.css');

@font-face {
  font-family: 'Custom Font';
  src: url('./fonts/custom-font.ttf');
}

body {
  font-family: 'Custom Font';
  background: linear-gradient(to right, slateblue, tomato) no-repeat fixed;
}

#root {
  height: 100vh;
}

.content {
  height: auto;
}

.footer {
  flex-grow: 1;
}

.bg-light {
  --bs-bg-opacity: 0.5!important;
}

.cursor-pointer {
  cursor: pointer;
}

.login-logo {
  font-size: 5rem;
  color: white;
  transition: all 0.5s ease-in-out;
}

.login-logo:hover {
  transform: scale(1.5);
}