@import url('./bootstrap-icons.css');

@font-face {
  font-family: 'Custom Font';
  src: url('./fonts/custom-font.ttf');
}

body {
  font-family: 'Custom Font';
  background: linear-gradient(to right, slateblue, tomato) no-repeat fixed;
  color: white;
}

.form-control {
  background-color: rgba(20, 20, 20, 0.644);
  color: white;
}
