@import url('./bootstrap-icons.css');

@font-face {
  font-family: 'Custom Font';
  src: url('./fonts/custom-font.ttf');
}

body {
  font-family: 'Custom Font';
  background: linear-gradient(to right, slateblue, tomato) no-repeat fixed;
}

#login-image {
  width: 100%;
  object-fit: contain;
}

#root {
  height: 100vh;
  width: 100vw;
}

.content {
  height: 100vh;
}

.footer {
  display: inline-flex;
  flex-grow: 1;
}

.bg-light {
  --bs-bg-opacity: 0.5!important;
}